.menu {
	border-radius: 10px 10px 0 0;
	border: 1px solid #dfdfdf;
}

.menuText {
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
}

.menuButton {
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 1em;
}
