.dropdown {
	height: 0;
	padding: 0;
	opacity: 0;
	transition: height 0.5s ease-out;
}

.dropdown_hover {
	transition: opacity 0.5s, height 0.25s ease-out;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	opacity: 1;
}

.post_title {
	font-size: 1.5rem;
}
